*.lo
*.la
*.a
*.o
*.gmo
Makefile
Makefile.in
.deps
.libs
config.*
aclocal.m4
autom4te.cache
data/ario.desktop*
depcomp
install-sh
libtool
ltmain.sh
missing
*.ario-plugin
src/ario
src/AUTHORS.tab
stamp-h1
compile
configure
po/.*
po/POTFILES
po/stamp-it
